body {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 85%;
}
#header {
    font-family: 'Dancing Script', cursive;
}
button {
    margin-top: 2em;
}
.kindOfFood {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 30px;
    margin: 30px;
}
.recentEats {
    background-color: #ff6d00;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    font-family: 'Dancing Script', cursive;    
    font-size: 3em;
}
.search-item {
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;    
    font-size: 1.5em;
    font-weight: 700;
}
hr {
    color: gray;
}
.history {
    border-radius: 7px;
    padding: 15px;
    font-size: 20px;
    /* text-transform:capitalize; */

}

#results>div>h1 {
    background-color: lightgray;
    padding: 15px;
    border-radius: 7px;
}
.progress {
    margin-top: 50px;     
}
#result {
    font-family: 'Dancing Script', cursive;
}
/* h1 {
    background-color: crimson;
    border-radius: 12px;
    margin: auto;
    margin: 1em;
    width: 75%;
    text-align: center;
} */