body {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 85%;
}
button {
    margin-top: 2em;
}
.kindOfFood {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 30px;
    margin: 30px;
}

}
.newh1:nth-child(odd) {
    background-color: lightgray;
}
/* #results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 30px;
    margin: 30px;
} */
/* h1 {
    background-color: crimson;
    border-radius: 12px;
    margin: auto;
    margin: 1em;
    width: 75%;
    text-align: center;
} */